#buttons {
    display: none;
}
#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}
#picks {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
#pickLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#lanes {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
#safelane {
    width: 19;
}
#midlane {
    width: 9;
}
#offlane {
    width: 19;
}
#interaction {
    display: flex;
    flex-direction: column;
}
#headTitle {
    text-align: center;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.attribute {
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 15%;
}
.picks {
    width: 75px;
    height: 50px;
    border: 2px solid black;
    background-color: rgb(122, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.str, .agi, .int, .draftPick {
    width: 75px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#draftBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#draftBoxPicks {
    display: flex;
    flex-direction: column;
    width: 500px;
}
#draftBoxButtons {
    display: flex;
    flex-direction: column;
}
.drafts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.draftPickNum {
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#homePage {
    display: flex;
    justify-content: center;
}
#about {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
button {
    margin-top: 5px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
    #buttons {
        display: flex;
        justify-content: space-evenly;
    }
    #str, #agi, #int {
        width: 100vw;
    }
    .str, .agi, .int {
        display: flex;
        width: 70px;
        height: 35px;
        margin: 2px;
        background-size: 60px;
        background-position-x: -15px;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Medula One', cursive;
        font-weight: bold;
        font-size: 18px;
        padding-right: 5px;
        /* font-size: 0; */
    }
    #picks {
        height: 220px;
        display: flex;
        flex-direction: column;
    }
    #interaction {
        height: 15vh;
    }
    .drafts {
        width: 80vw;
    }
    .draftPickNum {
        width: 14vw;
    }
    .draftPick {
        width: 13vw;
        height: 25px;
    }
}